.container-section-furniture {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    max-width: 100vw;
    padding-top: 12.5rem;
    padding-bottom: 5rem;
    margin: 0 auto;

    .container-tables {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .button-consultation-price {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem;
        border: 1px solid var(--strong-bluegray-10);

        border-radius: 0.2rem;
        background-color: var(--strong-bluegray-11);
        color: var(--strong-bluegray-1);
        cursor: pointer;

        transition: background-color 0.25s ease-in-out;

        font-family: var(--strong-font-Roboto-Bold);
        font-size: var(--strong-font-medium);
        font-weight: var(--strong-weight-400);
        color: var(--strong-bluegray-1);

        &:hover {
            background-color: var(--strong-bluegray-10);
            transition: background-color 0.25s ease-in-out;
        }
    }
}