.container-section-product-card {
    --card-product-image: 19vw; //tamaño card

    --card-product-section-info: 5rem;

    --card-product-image-height-total: calc(var(--card-product-image) + var(--card-product-section-info));

    min-height: var(--card-product-image-height-total);
    max-height: var(--card-product-image-height-total);

    min-width: var(--card-product-image);
    max-width: var(--card-product-image);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid var(--strong-bluegray-10);
    border-radius: 0.2rem;
    background: var(--strong-bluegray-11);

    cursor: pointer;
    position: relative;

    @media (max-width: 1071px) {
        --card-product-image: calc(37vw - 7rem);
    }

    @media (max-width: 992px) {
        --card-product-image: calc(53vw - 7rem);
    }

    @media (max-width: 768px) {
        --card-product-image: var(--strong-calc-5rem);
        --card-product-section-info: 8rem;
    }

    @media (max-width: 480px) {
        --card-product-image: var(--strong-calc-3rem);
    }

    @media (max-width: 400px) {
        --card-product-section-info: 6rem;
    }

    .container-outer-image {
        position: relative;
        min-height: var(--card-product-image);
        max-height: var(--card-product-image);
        min-width: var(--card-product-image);
        max-width: var(--card-product-image);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

        .container-inner-image {
            position: relative;
            min-height: var(--card-product-image);
            max-height: var(--card-product-image);
            min-width: var(--card-product-image);
            max-width: var(--card-product-image);
            transition: 0.3s ease-in-out;
            user-select: none;
        }

        .container-inner-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-xxsmall);
            font-weight: var(--strong-weight-400);
            color: var(--strong-bluegray-1);

            min-height: var(--card-product-image);
            max-height: var(--card-product-image);
            min-width: var(--card-product-image);
            max-width: var(--card-product-image);
        }

        .container-offer-percentage {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-top-right-radius: 0.2rem;

            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            overflow: hidden;

            .percentage {
                height: 1.7rem;
                width: 3.2rem;
                background: var(--strong-bluegray-11);
                border-bottom-left-radius: 0.2rem;
                border-left: 1px solid var(--strong-bluegray-10);
                border-bottom: 1px solid var(--strong-bluegray-10);

                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxsmall);
                font-weight: var(--strong-weight-700);

                color: var(--strong-bluegray-1);

                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 768px) {
                    height: 2.4rem;
                    width: 4.2rem;
                    font-size: var(--strong-font-xxmedium);
                }

                @media (max-width: 480px) {
                    height: 2.2rem;
                    width: 3.8rem;
                    font-size: var(--strong-font-xmedium);
                }
            }
        }
    }

    .container-info-product {
        min-height: var(--card-product-section-info);
        max-height: var(--card-product-section-info);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        padding: 0.5rem;

        @media (max-width: 768px) {
            gap: 1.5rem;
        }

        @media (max-width: 400px) {
            gap: 1rem;
        }

        .title-product {
            text-align: center;
            text-transform: uppercase;
            word-break: break-all;

            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-medium);
            font-weight: var(--strong-weight-700);

            color: var(--strong-bluegray-1);

            @media (max-width: 768px) {
                font-size: var(--strong-font-large);
            }

            @media (max-width: 480px) {
                font-size: var(--strong-font-xxxmedium);
            }
        }

        .price-product {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            color: var(--strong-bluegray-1);

            .price {
                text-decoration: var(--price-line-through);
                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-xxsmall);
                font-weight: var(--strong-weight-400);

                @media (max-width: 768px) {
                    font-size: var(--strong-font-xxxmedium);
                }

                @media (max-width: 400px) {
                    font-size: var(--strong-font-xxmedium);
                }
            }

            .offer {
                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-xxsmall);
                font-weight: var(--strong-weight-400);

                @media (max-width: 768px) {
                    font-size: var(--strong-font-xxxmedium);
                }

                @media (max-width: 400px) {
                    font-size: var(--strong-font-xxmedium);
                }
            }
        }
    }

    &:hover {
        .container-inner-image {
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
        }
    }
}