.container-section-product-card {
    --card-product-image-outer-height: 20rem;
    --card-product-image-outer-width: 19vw; //tamaño card

    --card-product-image-proportion: calc((var(--card-product-image-outer-width)) * (var(--original-width)) / (var(--original-height)));
    --card-product-section-info: 4.5rem;

    min-height: var(--card-product-image-proportion) + var(--card-product-section-info);
    max-height: var(--card-product-image-proportion) + var(--card-product-section-info);

    min-width: var(--card-product-image-outer-width);
    max-width: var(--card-product-image-outer-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.2rem;
    cursor: pointer;

    @media (max-width: 1067px) {
        --card-product-image-outer-width: calc(37vw - 7rem);
    }

    @media (max-width: 992px) {
        --card-product-image-outer-width: calc(53vw - 7rem);
    }

    @media (max-width: 768px) {
        --card-product-image-outer-width: calc(100vw - 5rem);
    }

    @media (max-width: 480px) {
        --card-product-image-outer-width: calc(100vw - 3rem);
    }

    .container-outer-image {
        position: relative;
        min-height: var(--card-product-image-proportion);
        max-height: var(--card-product-image-proportion);
        min-width: var(--card-product-image-outer-width);
        max-width: var(--card-product-image-outer-width);

        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

        .container-inner-image {
            position: relative;
            min-height: var(--card-product-image-proportion);
            max-height: var(--card-product-image-proportion);
            min-width: var(--card-product-image-outer-width);
            max-width: var(--card-product-image-outer-width);
            transition: 0.3s ease-in-out;
        }

        .container-overlay-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);

            transition: 0.3s ease-in-out;
        }

        .container-offer-percentage {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            overflow: hidden;

            .percentage {
                height: 1.5rem;
                width: 2.8rem;
                background: var(--strong-tertiary-color);
                border-bottom-left-radius: 0.2rem;

                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-descriptions);
                font-weight: var(--strong-Roboto-Regular-weight);

                color: var(--strong-primary-color);

                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 0.5rem;
            }
        }
    }

    .container-info-product {
        min-height: var(--card-product-section-info);
        max-height: var(--card-product-section-info);
        background: var(--strong-tertiary-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        padding: 0.5rem;

        .title-product {
            text-align: center;
            text-transform: uppercase;
            word-break: break-all;

            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-subtitles);
            font-weight: var(--strong-Roboto-Bold-weight);

            color: var(--strong-primary-color);
        }

        .price-product {
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            .price {
                text-decoration: var(--price-line-through);

                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-descriptions);
                font-weight: var(--strong-Roboto-Regular-weight);

                color: var(--strong-primary-color);
            }

            .offer {
                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-descriptions);
                font-weight: var(--strong-Roboto-Regular-weight);

                color: var(--strong-primary-color);
            }
        }
    }

    &:hover {
        .container-inner-image {
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
        }

        .container-overlay-image {
            background: transparent;
            transition: 0.3s ease-in-out;
        }
    }
}