.container-outer-image {
    --design-card-width: 14rem;
    --design-card-height: 8rem;
    --design-card-inner-height: 22rem;

    border-radius: 0.2rem;
    position: relative;
    min-height: var(--design-card-height);
    max-height: var(--design-card-height);
    min-width: var(--design-card-width);
    max-width: var(--design-card-width);

    background-color: var(--strong-bluegray-11);;
    border: 1px solid var(--strong-bluegray-11);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    @media (max-width:1355px) {
        --design-card-width: 30rem;
        --design-card-inner-height: 21rem;
    }

    @media (max-width:1100px) {
        --design-card-width: 30rem;
        --design-card-inner-height: 20rem;
    }

    @media (max-width:992px) {
        --design-card-width: 28rem;
        --design-card-inner-height: 19rem;
    }

    @media (max-width:768px) {
        --design-card-width: var(--strong-calc-5rem);
        --design-card-inner-height: 29rem;
    }

    @media (max-width: 626px) {
        --design-card-inner-height: 24rem;
    }

    @media (max-width: 576px) {
        --design-card-inner-height: 21rem;
    }

    @media (max-width:480px) {
        --design-card-width: var(--strong-calc-3rem);
        --design-card-inner-height: 20rem;
    }

    .container-inner-image {
        position: relative;
        min-height: var(--design-card-inner-height);
        max-height: var(--design-card-inner-height);
        min-width: var(--design-card-image-proportion);
        max-width: var(--design-card-image-proportion);

        user-select: none;
    }

    .container-inner-placeholder {
        position: relative;
        min-height: var(--design-card-height);
        max-height: var(--design-card-height);
        min-width: var(--design-card-width);
        max-width: var(--design-card-width);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-overlay-image {
        --card-overlay-image-height: calc(100% - 3.2rem);

        position: absolute;
        top: var(--card-overlay-image-height);
        left: 0;
        width: 100%;
        height: 3.2rem;
        background: var(--strong-bg-transparency);

        .title-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            height: 100%;

            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-xxsmall);
            font-weight: var(--strong-weight-700);
            color: var(--strong-bluegray-1);
            text-transform: uppercase;
        }
    }
}

.selected {
    border: 1px solid var(--strong-success-color);
    color: black;
    font-weight: bold;
}