.container-section-subcategories {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    padding-top: 8.5rem;
    padding-bottom: 5rem;

    .container-subcategories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6rem;

        .subcategorie {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;

            position: relative;
        }
    }
}