.container-section-subcategories {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 12.5rem;
    padding-bottom: 5rem;

    .container-subcategories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: var(--strong-calc-7rem);

        .subcategorie {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
    }
}