:root {
  /* tipografia */
  --fallback-font-families: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";

  --strong-font-Knucklehead: var(--font-Knucklehead), var(--fallback-font-families);
  /*'Knucklehead'*/
  --strong-font-Roboto-Bold: 'Roboto-Bold', var(--fallback-font-families);
  --strong-font-Roboto-Regular: 'Roboto-Regular', var(--fallback-font-families);
  --strong-font-large: 1.8rem;
  --strong-font-xlarge: 2.2rem;
  --strong-font-xxlarge: 2.4rem;

  --strong-font-medium: 1rem;
  --strong-font-xmedium: 1.1rem;
  --strong-font-xxmedium: 1.2rem;
  --strong-font-xxxmedium: 1.4rem;

  --strong-font-small: 0.7rem;
  --strong-font-xsmall: 0.8rem;
  --strong-font-xxsmall: 0.9rem;

  --strong-weight-700: 700;
  --strong-weight-400: 400;
  /*****************/

  /* paleta colores */
  --strong-primary-color: #101d36;
  --strong-secondary-color: #2b4468;
  --strong-tertiary-color: #666666;
  --strong-primary-white: #999999;
  --strong-secondary-white: #efefef;

  --strong-link-color: #4477be;

  --strong-primary-black: #212529;

  --strong-success-color: #198754;
  --strong-danger-color: #DC3545;
  --strong-warning-color: #FFC107;
  --strong-error-color: #ff7300;

  /* escala de grises azul marino */
  --strong-bluegray-1: #ffffff;
  --strong-bluegray-2: #e7eaed;
  --strong-bluegray-3: #d1d6dc;
  --strong-bluegray-4: #b9c2cc;
  --strong-bluegray-5: #a2acb7;
  --strong-bluegray-6: #8b96a2;
  --strong-bluegray-7: #74809d;
  --strong-bluegray-8: #5e6a89;
  --strong-bluegray-9: #485574;
  --strong-bluegray-10: #343a40;
  --strong-bluegray-11: #272c30;
  --strong-bluegray-12: #1b1f23;
  --strong-bluegray-13: #111416;
  --strong-bluegray-14: #090a0c;
  --strong-bluegray-15: #040506;
  --strong-bluegray-16: #000000;

  --strong-bg-transparency: rgb(0 0 0 / 55%);

  --strong-calc-7rem: calc(100vw - 7rem);
  --strong-calc-5rem: calc(100vw - 5rem);
  --strong-calc-3rem: calc(100vw - 3rem);
}

/* @font-face {
  font-family: 'Knucklehead';
  src: url('/assets/fonts/Knucklehead.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-bottom: 6rem;
  /* footer height 6rem (padding + gap) - 2.5padding top para igualar el gap de lahome*/

  font-family: var(--strong-font-Roboto-Regular);
  font-size: calc(14px + (20.56 - 14) * ((100vw - 280px) / (3840 - 280)));

  height: 100%;
  min-height: 100%;
  min-width: 100vw;
  max-width: 100vw;

  color: var(--strong-bluegray-1);
  background: var(--strong-bluegray-16);
}

h1 {
  font-family: var(--strong-font-Knucklehead);
  font-size: var(--navbar-title-size);
  font-weight: var(--strong-weight-700);
  letter-spacing: 0.4rem;
  color: var(--strong-bluegray-1);
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--strong-font-Roboto-Regular);
}

/* barra lateral de scroll*/
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (max-width: 992px) {} */

@media (max-width: 768px) {
  :root {

    --strong-font-large: 1.6rem;
    --strong-font-xlarge: 2rem;
    --strong-font-xxlarge: 2.2rem;

    --strong-font-medium: 0.9rem;
    --strong-font-xmedium: 1rem;
    --strong-font-xxmedium: 1.1rem;
    --strong-font-xxxmedium: 1.3rem;

    --strong-font-small: 0.65rem;
    --strong-font-xsmall: 0.75rem;
    --strong-font-xxsmall: 0.85rem;
  }
}

/* @media (max-width: 576px) {} */

@media (max-width: 480px) {
  :root {
    --strong-font-large: 1.4rem;
    --strong-font-xlarge: 1.8rem;
    --strong-font-xxlarge: 2rem;

    --strong-font-medium: 0.8rem;
    --strong-font-xmedium: 0.9rem;
    --strong-font-xxmedium: 1rem;
    --strong-font-xxxmedium: 1.2rem;

    --strong-font-small: 0.6rem;
    --strong-font-xsmall: 0.7rem;
    --strong-font-xxsmall: 0.8rem;
  }
}