.container-section-gallery {
    --gallery-section-height: 30rem;
    --gallery-section-width: 41rem;

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 1rem;

    background: var(--strong-bs-gray-200);

    min-height: var(--gallery-section-height);
    max-height: var(--gallery-section-height);
    min-width: var(--gallery-section-width);
    max-width: var(--gallery-section-width);

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .container-section-carousel {
        --carousel-section-height: 28rem;
        --carrousel-card-image: 10rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;

        min-height: var(--carousel-section-height);
        max-height: var(--carousel-section-height);
        min-width: var(--carrousel-card-image);
        max-width: var(--carrousel-card-image);

        scroll-behavior: smooth;
        overflow: hidden;
        overflow-y: scroll;
        user-select: none;

        &::-webkit-scrollbar {
            width: 0px;
            /* Ancho de la barra de navegación */
            background-color: transparent;
            /* Color de fondo de la barra de navegación */
        }

        @media (max-width: 768px) {

            cursor: grab;

            &:active {
                cursor: grabbing;
            }
        }
    }

    @media (max-width: 1150px) {
        --gallery-section-height: 26rem;
        --gallery-section-width: 36rem;

        .container-section-carousel {
            --carousel-section-height: 24rem;
            --carrousel-card-image: 9rem;
        }
    }

    @media (max-width: 992px) {
        --gallery-section-height: 22rem;
        --gallery-section-width: 31rem;

        .container-section-carousel {
            --carousel-section-height: 20rem;
            --carrousel-card-image: 8rem;
        }
    }

    @media (max-width: 855px) {
        --gallery-section-height: 24rem;
        --gallery-section-width: 33rem;

        .container-section-carousel {
            --carousel-section-height: 22rem;
            --carrousel-card-image: 8rem;
        }
    }

    @media (max-width: 768px) {
        --gallery-section-height: calc((calc(100vw - 5rem)) + 9rem);
        --gallery-section-height: calc(100vw - 5rem);

        min-height: var(--gallery-section-height);
        max-height: var(--gallery-section-height);
        min-width: var(--gallery-section-height);
        max-width: var(--gallery-section-height);

        .container-section-carousel {
            --carousel-section-height: 10rem;

            display: flex;
            flex-direction: row;
            align-items: revert;
            justify-content: revert;
            row-gap: revert;
            column-gap: 1rem;

            overflow-x: scroll;

            min-height: var(--carousel-section-height);
            max-height: var(--carousel-section-height);
            min-width: 100%;
            max-width: 100%;

        }
    }

    @media (max-width: 480px) {
        --gallery-section-height: calc((calc(100vw - 3rem)) + 9rem);
        --gallery-section-height: calc(100vw - 3rem);
    }
}