.container-section-gallery {
    --gallery-section-height: 30rem;
    --gallery-section-width: 41rem;

    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;

    background: var(--strong-primary-color);

    min-height: var(--gallery-section-height);
    max-height: var(--gallery-section-height);
    min-width: var(--gallery-section-width);
    max-width: var(--gallery-section-width);

    .container-section-carousel {
        --carousel-section-height: 28rem;
        --carrousel-card-image: 10rem;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

        min-height: var(--carousel-section-height);
        max-height: var(--carousel-section-height);
        min-width: var(--carrousel-card-image);
        max-width: var(--carrousel-card-image);

        &:hover {
            .carousel-buttons .carousel-arrow {
                background-color: #333;
                opacity: 1;
                transition: background-color 0.25s ease, opacity 0.25s ease;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            scroll-behavior: smooth;
            overflow: hidden;
            user-select: none;

            &::-webkit-scrollbar {
                width: 0px;
                background-color: transparent;
            }
        }

        .carousel-buttons {
            position: absolute;
            top: 0;
            bottom: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            pointer-events: none;

            min-height: 100%;
            max-height: 100%;
            min-width: 100%;
            max-width: 100%;
            background: transparent;
            background-color: transparent;

            .carousel-arrow {
                pointer-events: auto;

                width: 2.5rem;
                height: 2.5rem;

                display: flex;
                justify-content: center;
                align-items: center;

                background: transparent;
                border: none;
                cursor: pointer;
                opacity: 0;

                transition: background-color 0.25s ease;
                transition: opacity 0.25s ease;

                @media (max-width: 992px) {
                    width: 2rem;
                    height: 2rem;
                }
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: transparent;

                min-height: 8rem;
                max-height: 8rem;
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 1150px) {
        --gallery-section-height: 26rem;
        --gallery-section-width: 36rem;

        .container-section-carousel {
            --carousel-section-height: 24rem;
            --carrousel-card-image: 9rem;
        }
    }

    @media (max-width: 992px) {
        --gallery-section-height: 22rem;
        --gallery-section-width: 31rem;

        .container-section-carousel {
            --carousel-section-height: 20rem;
            --carrousel-card-image: 8rem;
        }
    }

    @media (max-width: 855px) {
        --gallery-section-height: 24rem;
        --gallery-section-width: 33rem;

        .container-section-carousel {
            --carousel-section-height: 22rem;
            --carrousel-card-image: 8rem;
        }
    }

    @media (max-width: 768px) {
        --gallery-section-height: calc((calc(100vw - 5rem)) + 9rem);
        --gallery-section-width: calc(100vw - 5rem);

        min-height: var(--gallery-section-height);
        max-height: var(--gallery-section-height);
        min-width: var(--gallery-section-width);
        max-width: var(--gallery-section-width);
        flex-direction: column;

        .container-section-carousel {
            --carousel-section-height: 9rem;

            min-height: var(--carousel-section-height);
            max-height: var(--carousel-section-height);
            min-width: 100%;
            max-width: 100%;

            display: flex;
            flex-direction: row;
            align-items: revert;
            justify-content: flex-start;

            .carousel {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: revert;
                overflow-x: scroll;
            }
        }
    }

    @media (max-width: 480px) {
        --gallery-section-height: calc((calc(100vw - 3rem)) + 9rem);
        --gallery-section-width: calc(100vw - 3rem);
    }
}