.container-section-services {
    display: flex;
    justify-content: center;
    gap: 2rem;

    min-width: var(--strong-calc-7rem);
    max-width: var(--strong-calc-7rem);

    @media (max-width: 768px) {
        align-items: revert;
        min-width: var(--strong-calc-5rem);
        max-width: var(--strong-calc-5rem);
    }

    @media (max-width: 480px) {
        min-width: var(--strong-calc-3rem);
        max-width: var(--strong-calc-3rem);
    }

    @media (max-width:1150px) {
        gap: 1rem;
    }

    @media (max-width: 855px) {
        justify-content: center;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        gap: 3rem;
    }

    .line-divider {
        min-width: 0.05rem;
        max-width: 0.05rem;
        background: var(--strong-bluegray-1);

        @media (max-width: 480px) {
            display: none;
        }
    }

    .icons-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        color: var(--strong-bluegray-1);

        .icons-title {
            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-xxsmall);
            font-weight: var(--strong-weight-700);
            text-align: center;

            @media (max-width: 768px) {
                font-size: var(--strong-font-medium);
            }

            @media (max-width: 480px) {
                font-size: var(--strong-font-xxmedium);
            }
        }

        .icons-subtitle {
            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-xsmall);
            font-weight: var(--strong-weight-400);
            text-align: center;

            @media (max-width: 768px) {
                font-size: var(--strong-font-xxsmall);
            }

            @media (max-width: 480px) {
                font-size: var(--strong-font-medium);
            }
        }
    }
}