.container-section-twoCategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    --twoCategories-container-width: calc(100vw - 7rem);
    min-width: var(--twoCategories-container-width);
    max-width: var(--twoCategories-container-width);

    padding: 5rem 0px;

    @media (max-width: 768px) {
        justify-content: center;
        gap: 3rem;
        min-width: 100vw;
        max-width: 100vw;
    }

    // .container-outer-placeholder {
    //     min-height: 41.5vw;
    //     height: 41.5vw;
    //     max-height: 41.5vw;
    //     min-width: 41.5vw;
    //     width: 41.5vw;
    //     max-width: 41.5vw;
    // }
}