.container-outer-image {
    --card-details-image-height: 26rem;
    --card-details-image-width: 26rem; //tamaño card

    min-height: var(--card-details-image-height);
    max-height: var(--card-details-image-height);
    min-width: var(--card-details-image-width);
    max-width: var(--card-details-image-width);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border: 1px solid var(--strong-bluegray-10);
    overflow: hidden;
    position: relative;

    .container-inner-image {
        position: relative;
        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
        user-select: none;

        * {
            pointer-events: none;
        }
    }

    .container-inner-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: var(--strong-font-Roboto-Regular);
        font-size: var(--strong-font-xxsmall);
        font-weight: var(--strong-weight-400);
        color: var(--strong-bluegray-1);

        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
    }

    @media (max-width:1150px) {
        --card-details-image-height: 24rem;
        --card-details-image-width: 24rem;
    }

    @media (max-width: 992px) {
        --card-details-image-height: 30em;
        --card-details-image-width: 30em;
    }

    @media (max-width: 768px) {
        --card-details-image-mobile: calc(100vw - 7rem);

        min-height: var(--card-details-image-mobile);
        max-height: var(--card-details-image-mobile);
        min-width: var(--card-details-image-mobile);
        max-width: var(--card-details-image-mobile);

        .container-inner-image {
            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }

        .container-inner-placeholder {
            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }
    }

    @media (max-width: 480px) {
        --card-details-image-mobile: calc(100vw - 5rem);
    }
}