.container-outer-image {
    --card-details-image-height: 26rem;
    --card-details-image-width: 26rem; //tamaño card

    //--card-details-image-proportion: calc((var(--card-details-image-width)) * ${activeImage?.imgProportionsX || 1});

    min-height: var(--card-details-image-height);
    max-height: var(--card-details-image-height);
    min-width: var(--card-details-image-width);
    max-width: var(--card-details-image-width);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border: 1px solid var(--strong-bluegray-10);

    overflow: hidden;
    position: relative;

    .container-inner-image {
        position: relative;
        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
        user-select: none;

        * {
            pointer-events: none;
        }
    }

    .container-offer-percentage {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        overflow: hidden;

        .percentage {
            height: 1.8rem;
            width: 5rem;
            background: var(--strong-bluegray-11);
            border-bottom-left-radius: 0.2rem;
            border-left: 1px solid var(--strong-bluegray-10);
            border-bottom: 1px solid var(--strong-bluegray-10);

            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-xxsmall);
            font-weight: var(--strong-weight-700);
            color: var(--strong-bluegray-1);

            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
                height: 2.4rem;
                width: 6rem;
                font-size: var(--strong-font-xxmedium);
            }

            @media (max-width: 480px) {
                height: 2.2rem;
                width: 5.4rem;
                font-size: var(--strong-font-xmedium);
            }
        }
    }

    .container-inner-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: var(--strong-font-Roboto-Regular);
        font-size: var(--strong-font-xxsmall);
        font-weight: var(--strong-weight-400);
        color: var(--strong-bluegray-1);

        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
    }

    @media (max-width:1150px) {
        --card-details-image-height: 24rem;
        --card-details-image-width: 24rem;
    }

    @media (max-width: 992px) {
        --card-details-image-height: 30em;
        --card-details-image-width: 30em;
    }

    // @media (max-width:992px) {
    //     --card-details-image-height: 20rem;
    //     --card-details-image-width: 20rem;
    // }

    // @media (max-width: 855px) {
    //     --card-details-image-height: 22rem;
    //     --card-details-image-width: 22rem;
    // }

    @media (max-width: 768px) {
        --card-details-image-mobile: calc(100vw - 7rem);

        min-height: var(--card-details-image-mobile);
        max-height: var(--card-details-image-mobile);
        min-width: var(--card-details-image-mobile);
        max-width: var(--card-details-image-mobile);

        .container-inner-image {
            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }

        .container-inner-placeholder {
            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }
    }

    @media (max-width: 480px) {
        --card-details-image-mobile: calc(100vw - 5rem);
    }
}