.container-section-design {
    display: flex;
    justify-content: center;

    padding-top: 8.5rem;
    padding-bottom: 5rem;
    width: 100vw;

    .container-cards-categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 3.5rem;
        width: var(--strong-calc-7rem);

        @media (max-width:992px) {
            column-gap: revert;
            row-gap: revert;
            gap: 6rem;
        }

        @media (max-width: 768px) {
            width: var(--strong-calc-5rem);
            gap: 5rem;
        }

        @media (max-width: 480px) {
            width: var(--strong-calc-3rem);
            gap: 4rem;
        }
    }
}