.container-section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    min-width: 100vw;
    max-width: 100vw;

    padding-top: 12.5rem;
    padding-bottom: 5rem;

    .container-row-dividers {
        display: flex;
        --details-container-width: calc(100vw - 7rem);

        min-width: var(--details-container-width);
        max-width: var(--details-container-width);

        @media (max-width: 768px) {
            --details-container-width: calc(100vw - 5rem);
        }

        @media (max-width: 480px) {
            --details-container-width: calc(100vw - 3rem);
        }
    }
}