.container-section-slider {
    //4024 % 6048 => 0,665
    // 4024 % 6048 => 1,502
    --slider-image-outer-height: 100vh;
    --slider-image-outer-width: 100vw;

    --slider-image-inner-height: 100vw;
    --slider-image-proportion: calc((var(--slider-image-inner-height)) * 1.502);

    position: relative;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    .container-slider {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        width: calc(100% * 3); //proporción del total de imágenes para el slider

        .slide-item {
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1.3s ease-in-out; // suavidad hacia la siguiente imagen

            &.active {
                opacity: 1.2;
                transition: opacity 1.3s ease-in-out; // suavidad hacia la siguiente imagen
            }

            .container-outer-image {
                position: relative;
                min-height: var(--slider-image-outer-height);
                max-height: var(--slider-image-outer-height);
                min-width: var(--slider-image-outer-width);
                max-width: var(--slider-image-outer-width);

                display: flex;
                align-items: flex-start;
                justify-content: center;

                overflow: hidden;

                .container-inner-image {
                    position: relative;
                    min-height: var(--slider-image-inner-height);
                    max-height: var(--slider-image-inner-height);
                    min-width: var(--slider-image-proportion);
                    max-width: var(--slider-image-proportion);
                }
            }
        }
    }

    .container-controls {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 2rem;

        .control-item {
            --control-item-proportion: 1.8rem;

            background: var(--strong-tertiary-color);
            border: none;
            border-radius: 99px;

            cursor: pointer;

            min-height: var(--control-item-proportion);
            max-height: var(--control-item-proportion);
            min-width: var(--control-item-proportion);
            max-width: var(--control-item-proportion);

            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 0.9;
            }

            &.active {
                opacity: 1;
                border: 0.1rem solid var(--strong-primary-color-blurred);
            }
        }
    }
}