.container-outer-image {
    --icon-image: 2.2rem;

    min-height: var(--icon-image);
    max-height: var(--icon-image);
    min-width: var(--icon-image);
    max-width: var(--icon-image);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    @media (max-width: 992px) {
        --icon-image: 2rem;
    }

    @media (max-width: 768px) {
        --icon-image: 1.8rem;
    }

    @media (max-width: 576px) {
        --icon-image: 1.7rem;
    }

    @media (max-width: 480px) {
        --icon-image: 1.6rem;
    }


    .container-inner-image {
        position: relative;
        min-height: var(--icon-image);
        max-height: var(--icon-image);
        min-width: var(--icon-image);
        max-width: var(--icon-image);
        height: var(--icon-image); // Agregar esta línea

        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        // -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        // -moz-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        // -ms-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        // -o-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);

    }
}