.container-outer-image {
    --banner-image-outer-height: 75vh;
    --banner-image-outer-width: 100vw;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    .container-inner-image {
        position: relative;
        
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--strong-bg-gradient-img-gray);
        
    }
}