.container-outer-image {
    --card-carrousel-image-height: 10rem;
    --card-carrousel-image-width: 10rem; //tamaño card

    min-height: var(--card-carrousel-image-height);
    max-height: var(--card-carrousel-image-height);
    min-width: var(--card-carrousel-image-width);
    max-width: var(--card-carrousel-image-width);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .container-inner-image {
        position: relative;
        min-height: var(--card-carrousel-image-height);
        max-height: var(--card-carrousel-image-height);
        min-width: var(--card-carrousel-image-proportion);
        max-width: var(--card-carrousel-image-proportion);
        cursor: pointer;
    }

    .container-inner-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: var(--strong-secondary-color);
        min-height: var(--card-carrousel-image-height);
        max-height: var(--card-carrousel-image-height);
        min-width: var(--card-carrousel-image-width);
        max-width: var(--card-carrousel-image-width);
    }
}