.container-outer-image {
    --card-carrousel-image-height: 10rem;
    --card-carrousel-image-width: 10rem; //tamaño card

    min-height: var(--card-carrousel-image-height);
    max-height: var(--card-carrousel-image-height);
    min-width: var(--card-carrousel-image-width);
    max-width: var(--card-carrousel-image-width);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.2rem;
    border: 1px solid var(--strong-bluegray-10);

    overflow: hidden;
    cursor: pointer;

    @media (max-width:1150px) {
        --card-carrousel-image-height: 9rem;
        --card-carrousel-image-width: 9rem;
    }

    @media (max-width: 992px) {
        --card-carrousel-image-height: 8rem;
        --card-carrousel-image-width: 8rem;
    }


    @media (max-width: 855px) {
        --card-carrousel-image-height: 8rem;
        --card-carrousel-image-width: 8rem;
    }

    @media (max-width: 768px) {
        cursor: revert;
    }

    .container-inner-image {
        position: relative;
        min-height: var(--card-carrousel-image-height);
        max-height: var(--card-carrousel-image-height);
        min-width: var(--card-carrousel-image-width);
        max-width: var(--card-carrousel-image-width);

        * {
            pointer-events: none;
        }
    }

    .container-inner-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: var(--strong-font-Roboto-Regular);
        font-size: var(--strong-font-xxsmall);
        font-weight: var(--strong-weight-400);
        color: var(--strong-bluegray-1);

        min-height: var(--card-carrousel-image-height);
        max-height: var(--card-carrousel-image-height);
        min-width: var(--card-carrousel-image-width);
        max-width: var(--card-carrousel-image-width);
    }
}