.container-all-table-design {
    min-width: var(--strong-calc-7rem);
    max-width: var(--strong-calc-7rem);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    // border-radius: 0.2rem;
    // background: var(--strong-bluegray-11);
    // border: 1px solid var(--strong-bluegray-10);

    position: relative;

    &:hover {
        .buttons-table .buttons {
            background-color: var(--strong-bluegray-3);
            opacity: 1;
            transition: background-color 0.25s ease, opacity 0.25s ease;
        }
    }


    @media (max-width:768px) {
        min-width: var(--strong-calc-5rem);
        max-width: var(--strong-calc-5rem);
    }

    @media (max-width:480px) {
        min-width: var(--strong-calc-3rem);
        max-width: var(--strong-calc-3rem);
    }

    .container-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-width: 100%;
        max-width: 100%;
        gap: 0.5rem;
    // background-color: violet;

        .container-header-table {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // padding-left: 1rem;
            padding-top: 1rem;
            padding-left: 3.5rem;

            @media (max-width:768px) {
                padding-left: 2.5rem;
            }

            @media (max-width:480px) {
                padding-left: 1.5rem;
            }

            .container-title-table {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxxmedium);
                font-weight: var(--strong-weight-700);
                color: var(--strong-bluegray-1);
                text-transform: uppercase;
            }

            .container-subtitle-table {
                font-family: var(--strong-font-Roboto-Regular);
                font-size: var(--strong-font-xxsmall);
                font-weight: var(--strong-weight-400);
                color: var(--strong-bluegray-1);
            }
        }

        .carousel-table {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            scroll-behavior: smooth;
            overflow: hidden;
            overflow-x: scroll;
            user-select: none;

            gap: 1.5rem;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            min-width: 100vw;
            max-width: 100vw;

            &::-webkit-scrollbar {
                height: 0px;
                background-color: transparent;
            }

            @media (max-width:992px) {
                gap: 1.25rem;
            }

            @media (max-width:768px) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                gap: 1rem;
            }

            @media (max-width:480px) {
                padding-left: 1.5rem;
                gap: 0.75rem;
            }
        }
    }

    .buttons-table {
        position: absolute;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        pointer-events: none;

        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        background: transparent;
        background-color: transparent;

        .buttons {
            pointer-events: auto;

            width: 2.5rem;
            height: 2.5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border: none;
            cursor: pointer;
            opacity: 0;

            transition: background-color 0.25s ease, opacity 0.25s ease;

            &:hover {
                background: var(--strong-bluegray-4);
                transition: background-color 0.25s ease;
            }
        }
    }
}

.hidden {
    display: none;
}

.error-text-msg {
    color: var(--strong-error-color) !important;
}