.container-all-table-design {
    min-width: var(--strong-calc-7rem);
    max-width: var(--strong-calc-7rem);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    position: relative;

    @media (max-width:768px) {
        min-width: var(--strong-calc-5rem);
        max-width: var(--strong-calc-5rem);
    }

    @media (max-width:480px) {
        min-width: var(--strong-calc-3rem);
        max-width: var(--strong-calc-3rem);
    }

    .container-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // gap: 1rem;

        background: var(--strong-bluegray-11);
        border: 1px solid var(--strong-bluegray-10);

        // min-height: 23rem;
        // max-height: 23rem;

        .furniture-select-header {
            display: flex;
            justify-content: space-between;
            min-width: 100%;
            max-width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 0.2rem solid var(--strong-bluegray-10);


            .container-header-table {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;

                min-height: 3.5rem;
                max-height: 3.5rem;
                padding-left: 3.5rem;

                @media (max-width:768px) {
                    padding-left: 2.5rem;
                }

                @media (max-width:480px) {
                    padding-left: 1.5rem;
                }

                @media (max-width:350px) {
                    min-height: 2.8rem;
                    max-height: 2.8rem;
                }

                .container-title-table {
                    font-family: var(--strong-font-Roboto-Bold);
                    font-size: var(--strong-font-xxxmedium);
                    font-weight: var(--strong-weight-700);
                    color: var(--strong-bluegray-1);
                    text-transform: uppercase;


                    @media (max-width:350px) {
                        font-size: var(--strong-font-xxmedium);
                    }
                }

                .container-subtitle-table {
                    font-family: var(--strong-font-Roboto-Regular);
                    font-size: var(--strong-font-xxsmall);
                    font-weight: var(--strong-weight-400);
                    color: var(--strong-bluegray-1);

                    @media (max-width:350px) {
                        font-size: var(--strong-font-xsmall);
                    }
                }
            }

            .buttons-table {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                pointer-events: none;
                padding-right: 3.5rem;

                @media (max-width:768px) {
                    padding-right: 2.5rem;
                }

                @media (max-width:480px) {
                    padding-right: 1.5rem;
                }

                @media (max-width: 442px) {
                    display: none;
                }

                .buttons {
                    pointer-events: auto;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--strong-bluegray-4);
                    border: none;
                    cursor: pointer;
                    opacity: 1;
                    transition: background-color 0.25s ease, opacity 0.25s ease;

                    &:hover {
                        background: var(--strong-bluegray-5);
                        transition: background-color 0.25s ease;
                    }
                }
            }
        }

        .carousel-table {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            gap: 1.5rem;

            padding-left: 3.5rem;
            padding-right: 3.5rem;
            min-width: 100vw;
            max-width: 100vw;
            min-height: 17rem;
            max-height: 17rem;
            scroll-behavior: smooth;
            overflow-y: hidden;
            overflow-x: scroll;
            user-select: none;
            position: relative;

            &::-webkit-scrollbar {
                height: 0px;
                background-color: transparent;
            }

            @media (max-width:992px) {
                gap: 1.25rem;
            }

            @media (max-width:768px) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                gap: 1rem;
            }

            @media (max-width:480px) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                gap: 0.75rem;
            }
        }
    }
}

.hidden {
    display: none;
}

.error-text-msg {
    color: var(--strong-error-color) !important;
}