.container-section-contact {
    --contact-container-width: calc(100vw - 7rem);

    @media (max-width: 768px) {
        --contact-container-width: calc(100vw - 5rem);
    }

    @media (max-width: 480px) {
        --contact-container-width: calc(100vw - 3rem);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--contact-container-width);
    max-width: var(--contact-container-width);
    padding-top: 12.5rem;
    padding-bottom: 5rem;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding-top: 11rem;
    }

    @media (max-width: 480px) {
        padding-top: 10rem;
    }

    .container-row-dividers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        min-width: 100%;
        max-width: 100%;
        background: var(--strong-bluegray-11);
        padding: 1rem;
        border-radius: 0.2rem;
        border: 1px solid var(--strong-bluegray-10);

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            min-width: revert;
            max-width: revert;
            gap: 3rem;
        }

        .container-section-form {
            min-height: 26rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media (max-width: 1150px) {
                min-height: 24rem;
            }

            @media (max-width: 992px) {
                min-height: 21rem;
            }

            @media (max-width: 768px) {
                align-items: flex-start;
                width: 100%;
            }

            .form-title {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-large);
                font-weight: var(--strong-weight-700);
                color: var(--strong-bluegray-1);
            }

            .container-form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1.5rem;
                width: 100%;

                @media (max-width: 992px) {
                    gap: 2rem;
                }

                .form-divider {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .divider {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        gap: 1rem;

                        @media (max-width: 768px) {
                            flex-direction: column;
                        }
                    }

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .form-text {
                            font-family: var(--strong-font-Roboto-Bold);
                            font-size: var(--strong-font-xxmedium);
                            font-weight: var(--strong-weight-700);
                            color: var(--strong-bluegray-1);

                            @media (max-width: 768px) {
                                font-size: var(--strong-font-xxxmedium);
                            }
                        }

                        .form-input {
                            --input-form-widht: 24rem;

                            font-family: var(--strong-font-Roboto-Regular);
                            font-size: var(--strong-font-xsmall);
                            font-weight: var(--strong-weight-400);
                            color: var(--strong-bluegray-1);

                            width: var(--input-form-widht);
                            padding: 0.5rem 1rem;
                            min-height: 2rem;
                            max-height: 2rem;
                            border-radius: 0.2rem;
                            border: 1px solid var(--strong-bluegray-10);

                            background: transparent;
                            outline: none;
                            transition: border 0.25s ease-in-out;

                            @media (max-width: 1365px) {
                                --input-form-widht: 22rem;
                            }

                            @media (max-width: 1300px) {
                                --input-form-widht: 20rem;
                            }

                            @media (max-width: 1235px) {
                                --input-form-widht: 17rem;
                            }

                            @media (max-width: 1110px) {
                                --input-form-widht: 15rem;
                            }

                            @media (max-width: 1040px) {
                                --input-form-widht: 13.5rem;
                            }

                            @media (max-width: 768px) {
                                font-size: var(--strong-font-xxsmall);
                                --input-form-widht: 100%;
                            }

                            &:focus {
                                border: 1px solid var(--strong-bluegray-1);
                                transition: border 0.25s ease-in-out;
                            }
                        }
                    }
                }

                .group-paymethod {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .form-text {
                        font-family: var(--strong-font-Roboto-Bold);
                        font-size: var(--strong-font-xxmedium);
                        font-weight: var(--strong-weight-700);
                        color: var(--strong-bluegray-1);

                        @media (max-width: 768px) {
                            font-size: var(--strong-font-xxxmedium);
                        }
                    }

                    .select-paymethod {
                        background: var(--strong-bluegray-10);
                        color: var(--strong-bluegray-1);

                        border: 1px solid var(--strong-bluegray-10);
                        border-radius: 0.2rem;
                        cursor: pointer;
                        padding: 0.3rem 1rem;

                        @media (max-width: 768px) {
                            padding: 0.3rem 0.8rem;
                        }

                        option {
                            font-family: var(--strong-font-Roboto-Regular);
                            font-size: var(--strong-font-xxsmall);
                            font-weight: var(--strong-weight-400);

                            padding: 0.5rem 1rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                .form-button {
                    --button-form-widht: 49rem;

                    background: var(--strong-bluegray-10);

                    font-family: var(--strong-font-Roboto-Regular);
                    font-size: var(--strong-font-xxsmall);
                    font-weight: var(--strong-weight-400);
                    color: var(--strong-bluegray-1);

                    border: 1px solid var(--strong-bluegray-10);
                    border-radius: 0.2rem;
                    padding: 0.5rem 1rem;

                    width: var(--button-form-widht);

                    cursor: pointer;
                    transition: background 0.25s ease-in-out;

                    @media (max-width: 1365px) {
                        --button-form-widht: 45rem;
                    }

                    @media (max-width: 1300px) {
                        --button-form-widht: 41rem;
                    }

                    @media (max-width: 1235px) {
                        --button-form-widht: 35rem;
                    }

                    @media (max-width: 1110px) {
                        --button-form-widht: 31rem;
                    }

                    @media (max-width: 1040px) {
                        --button-form-widht: 28rem;
                    }

                    @media (max-width: 768px) {
                        font-size: var(--strong-font-xxxsmall);
                        --button-form-widht: 100%;
                    }

                    &:hover {
                        background: var(--strong-bluegray-12);
                        transition: background 0.25s ease-in-out;
                    }
                }

                .form-error {
                    font-family: var(--strong-font-Roboto-Regular);
                    font-size: var(--strong-font-xxxsmall);
                    font-weight: var(--strong-weight-400);
                    color: var(--strong-error-color);

                    @media (max-width: 768px) {
                        font-size: var(--strong-font-xmedium);
                    }
                }
            }
        }
    }
}