.container-outer-image {
    --card-details-image-height: 25rem;
    --card-details-image-width: 25rem; //tamaño card

    min-height: var(--card-details-image-height);
    max-height: var(--card-details-image-height);
    min-width: var(--card-details-image-height);
    max-width: var(--card-details-image-height);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .container-inner-image {
        position: relative;
        min-height: var(--card-details-image-proportion);
        max-height: var(--card-details-image-proportion);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
    }
}