.container-outer-image {
    --card-details-image-height: 28rem;
    --card-details-image-width: 28rem; //tamaño card

    min-height: var(--card-details-image-height);
    max-height: var(--card-details-image-height);
    min-width: var(--card-details-image-width);
    max-width: var(--card-details-image-width);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .container-inner-image {
        position: relative;
        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-proportion);
        max-width: var(--card-details-image-proportion);

        * {
            pointer-events: none;
        }
    }

    .container-inner-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--strong-secondary-color);
        min-height: var(--card-details-image-height);
        max-height: var(--card-details-image-height);
        min-width: var(--card-details-image-width);
        max-width: var(--card-details-image-width);
    }

    @media (max-width:1150px) {
        --card-details-image-height: 24rem;
        --card-details-image-width: 24rem;
    }

    @media (max-width:992px) {
        --card-details-image-height: 20rem;
        --card-details-image-width: 20rem;
    }

    @media (max-width: 855px) {
        --card-details-image-height: 22rem;
        --card-details-image-width: 22rem;
    }

    @media (max-width: 768px) {
        --card-details-image-mobile: calc(100vw - 7rem);

        min-height: var(--card-details-image-mobile);
        max-height: var(--card-details-image-mobile);
        min-width: var(--card-details-image-mobile);
        max-width: var(--card-details-image-mobile);

        .container-inner-image {

            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }

        .container-inner-placeholder {
            min-height: var(--card-details-image-mobile);
            max-height: var(--card-details-image-mobile);
            min-width: var(--card-details-image-mobile);
            max-width: var(--card-details-image-mobile);
        }
    }

    @media (max-width: 480px) {
        --card-details-image-mobile: calc(100vw - 5rem);
    }
}