.container-section-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0px 0px 0px 2rem;
    width: 100%;

    @media (max-width: 992px) {
        align-items: center;
        padding: 0px;
        height: 16rem;
    }

    @media (max-width: 480px) {
        height: 22rem;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;

        width: 100%;

        @media (max-width: 992px) {
            align-items: center;
        }

        .product-title {
            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-large);
            font-weight: var(--strong-weight-700);
            color: var(--strong-primary-color);
            text-transform: uppercase;

            padding-bottom: 1rem;
        }

        .product-price {
            padding-bottom: 0.8rem;

            .info-price {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxmedium);
                font-weight: var(--strong-weight-700);
                color: var(--strong-primary-color-blurred);
            }

            .info-offerPrice {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxxmedium);
                font-weight: var(--strong-weight-700);
            }
        }
    }

    .container-buttons-method {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @media (max-width:992px) {
            flex-direction: row;
        }

        @media (max-width: 480px) {
            flex-direction: column;
        }

        .button-method {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .title {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxmedium);
                font-weight: var(--strong-weight-700);
                color: var(--strong-primary-color);
            }

            .button {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1.5rem;

                padding: 1rem;
                border: none;
                border-radius: 0.2rem;
                background: var(--strong-primary-color);
                color: var(--strong-secondary-color);

                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-medium);
                font-weight: var(--strong-weight-700);

                cursor: pointer;

                transition: 0.25s ease-in-out;

                &:hover {
                    background: var(--strong-primary-color-blurred);
                    transition: 0.25s ease-in-out;
                }

                .btn-price {
                    font-family: var(--strong-font-Roboto-Bold);
                    font-size: var(--strong-font-medium);
                    font-weight: var(--strong-weight-400);
                    color: var(--strong-secondary-color);
                }
            }
        }
    }
}