.container-section-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0px 0px 0px 2rem;
    width: 100%;

    @media (max-width: 992px) {
        align-items: center;
        padding: 0px;
        height: 16rem;
    }

    @media (max-width: 768px) {
        height: 25rem;
    }

    @media (max-width: 350px) {
        height: 28rem;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;

        width: 100%;

        @media (max-width: 992px) {
            align-items: center;
        }

        @media (max-width: 350px) {
            align-items: flex-start;
        }

        .product-title {
            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-large);
            font-weight: var(--strong-weight-700);
            color: var(--strong-bluegray-1);
            text-transform: uppercase;

            padding-bottom: 1rem;

            @media (max-width: 768px) {
                font-size: var(--strong-font-xxlarge);
            }

            @media (max-width: 480px) {
                font-size: var(--strong-font-xlarge);
            }
        }

        .product-price {
            padding-bottom: 0.8rem;
            color: var(--strong-bluegray-1);
            font-size: var(--strong-font-xmedium);

            @media (max-width: 768px) {
                font-size: var(--strong-font-xxxmedium);
            }

            @media (max-width: 480px) {
                font-size: var(--strong-font-xxmedium);
            }

            .info-price {
                font-family: var(--strong-font-Roboto-Bold);
                font-weight: var(--strong-weight-700);
            }

            .info-offerPrice {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxxmedium);
                font-weight: var(--strong-weight-700);

                @media (max-width: 768px) {
                    font-size: var(--strong-font-large);
                }

                @media (max-width: 480px) {
                    font-size: var(--strong-font-xxxmedium);
                }
            }
        }
    }

    .container-buttons-method {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @media (max-width:992px) {
            flex-direction: row;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            width: calc(100vw - 5rem);
        }

        @media (max-width: 480px) {
            width: calc(100vw - 3rem);
        }

        .button-method {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .title {
                font-family: var(--strong-font-Roboto-Bold);
                font-size: var(--strong-font-xxmedium);
                font-weight: var(--strong-weight-700);
                color: var(--strong-bluegray-1);

                @media (max-width: 768px) {
                    font-size: var(--strong-font-xxxmedium);
                }
            }

            .button {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1.5rem;

                padding: 1rem;
                border: 1px solid var(--strong-bluegray-10);
                border-radius: 0.2rem;

                background: var(--strong-bluegray-11);
                color: var(--strong-bluegray-1);
                cursor: pointer;

                transition: 0.25s ease-in-out;

                &:hover {
                    background: var(--strong-bluegray-10);
                    transition: 0.25s ease-in-out;
                }

                .image-btn {
                    pointer-events: none;
                    user-select: none;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
                }

                .btn-price {
                    font-family: var(--strong-font-Roboto-Bold);
                    font-size: var(--strong-font-medium);
                    font-weight: var(--strong-weight-400);
                    color: var(--strong-bluegray-1);

                    @media (max-width: 768px) {
                        font-size: var(--strong-font-xxmedium);
                    }
                }
            }
        }
    }
}