.container-outer-image {
    --icon-image: 1.6rem;

    min-height: var(--icon-image);
    max-height: var(--icon-image);
    min-width: var(--icon-image);
    max-width: var(--icon-image);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover .container-inner-image {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(0.5) contrast(2);
        -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(0.5) contrast(2);
        -moz-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(0.5) contrast(2);
        -ms-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(0.5) contrast(2);
        -o-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(0.5) contrast(2);
        transition: 0.3s ease-in-out;
    }

    .container-inner-image {
        position: relative;
        min-height: var(--icon-image);
        max-height: var(--icon-image);
        min-width: var(--icon-image);
        max-width: var(--icon-image);

        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        -moz-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        -ms-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        -o-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
        transition: 0.3s ease-in-out;
    }
}