.container-section-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    --categories-container-width: var(--strong-calc-7rem);
    min-width: var(--categories-container-width);
    max-width: var(--categories-container-width);

    padding: 5rem 0px;

    @media (max-width: 768px) {
        justify-content: center;
        gap: 3rem;
        min-width: 100vw;
        max-width: 100vw;
    }
}