.container-section-products {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100vw;
    max-width: 100vw;

    padding-top: 12.5rem;
    padding-bottom: 5rem;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding-top: 11rem;
    }

    @media (max-width: 480px) {
        padding-top: 10rem;
    }

    .container-cards-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 3rem;
        --products-container-width: var(--strong-calc-7rem);

        min-width: var(--products-container-width);
        max-width: var(--products-container-width);

        @media (max-width: 992px) {
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            --products-container-width: var(--strong-calc-5rem);
        }

        @media (max-width: 576px) {
            justify-content: center;
        }
    }
}