.container-section-products {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100vw;
    max-width: 100vw;

    padding-top: 12.5rem;
    padding-bottom: 5rem;
    margin: 0 auto;

    .container-cards-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 3rem;
        --products-container-width: calc(100vw - 7rem);

        min-width: var(--products-container-width);
        max-width: var(--products-container-width);

        @media (max-width: 992px) {
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            --products-container-width: calc(100vw - 5rem);
        }

        @media (max-width: 576px) {
            justify-content: center;
        }

        // .container-outer-placeholder {
        //     --card-product-image-height: 20rem;
        //     --card-product-image-width: 19vw; //tamaño card

        //     --card-product-section-info: 4.5rem;

        //     min-height: calc(var(--card-product-image-width) + var(--card-product-section-info));
        //     height: calc(var(--card-product-image-width) + var(--card-product-section-info));
        //     max-height: calc(var(--card-product-image-width) + var(--card-product-section-info));

        //     min-width: var(--card-product-image-width);
        //     width: var(--card-product-image-width);
        //     max-width: var(--card-product-image-width);
        // }
    }
}