.container-section-navbar {
    --navbar-title-size: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @media (max-width: 768px) {
        --navbar-title-size: 2.3rem;
    }

    @media (max-width: 480px) {
        --navbar-title-size: 2.1rem;
    }

    .container-primary-nav {
        position: relative;
        top: 0;
        min-height: 3.7rem;
        height: 3.7rem;
        max-height: 3.7rem;
        min-width: 100vw;
        max-width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        transition: top 0.3s ease-in-out;

        .title {
            font-family: var(--strong-font-Knucklehead);
            font-size: var(--navbar-title-size);
            font-weight: var(--strong-weight-700);
            letter-spacing: 0.4rem;
            color: var(--strong-bluegray-1);
            cursor: pointer;
        }

        &:hover {
            background-color: var(--strong-bluegray-16);
            transition: background-color 0.3s ease-in-out;
        }

        &.isTransparency {
            &:hover {
                background-color: var(--strong-bluegray-16);
                transition: background-color 0.3s ease-in-out;
            }
        }

        &.isDark {
            background-color: var(--strong-bluegray-16);
        }

        &.isOtherSection {
            background-color: var(--strong-bluegray-11);
            border-bottom: none;

            .title {
                color: var(--strong-bluegray-1);
            }
        }
    }

    .container-secondary-nav {
        min-height: 3.1rem;
        height: 3.1rem;
        max-height: 3.1rem;
        min-width: 100vw;
        max-width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        background-color: var(--strong-bluegray-11);
        border-bottom: 1px solid var(--strong-bluegray-5);

        @media (max-width: 768px) {
            min-height: 3rem;
            height: 3rem;
            max-height: 3rem;
        }

        @media (max-width: 480px) {
            min-height: 2.9rem;
            height: 2.9rem;
            max-height: 2.9rem;
        }

        .title {
            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-xxmedium);
            font-weight: var(--strong-weight-400);

            color: var(--strong-bluegray-1);
        }

        .back-title {
            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-xxmedium);
            font-weight: var(--strong-weight-400);

            color: var(--strong-bluegray-1);
            cursor: pointer;
            transition: color 0.25s ease-in;

            &:hover {
                color: var(--strong-bluegray-5);
                transition: color 0.25s ease-in;
            }
        }
    }

    &.hidden {
        top: -3.7rem;
        transition: top 0.3s ease-in-out;
    }

    &.show-on-top {
        top: 0;
        transition: top 0.3s ease-in-out;
    }
}