.container-outer-image {
    --card-image-outer-height: 28.5rem;
    --card-image-outer-width: 28.5rem;

    --card-image-inner-height: 28.5rem;

    --card-image-proportion: calc((var(--card-image-inner-height)) * (var(--original-width)) / (var(--original-height)));

    position: relative;
    min-height: var(--card-image-outer-height);
    max-height: var(--card-image-outer-height);
    min-width: var(--card-image-outer-width);
    max-width: var(--card-image-outer-width);

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;

    cursor: pointer;
    overflow: hidden;

    @media (max-width: 992px) {
        --card-image-outer-height: 35rem;
        --card-image-outer-width: 35rem;
        --card-image-inner-height: 35rem;
    }

    @media (max-width: 768px) {
        --card-image-outer-height: 31.5rem;
        --card-image-outer-width: 31.5rem;
        --card-image-inner-height: 31.5rem;
    }

    @media (max-width: 576px) {
        --card-image-outer-height: 26rem;
        --card-image-outer-width: 26rem;
        --card-image-inner-height: 26rem;
    }

    @media (max-width: 480px) {
        --card-image-outer-height: 22.5rem;
        --card-image-outer-width: 22.5rem;
        --card-image-inner-height: 22.5rem;
    }

    @media (max-width: 400px) {
        --card-image-outer-height: 18rem;
        --card-image-outer-width: 18rem;
        --card-image-inner-height: 18rem;
    }

    @media (max-width: 340px) {
        --card-image-outer-height: 14.5rem;
        --card-image-outer-width: 14.5rem;
        --card-image-inner-height: 14.5rem;
    }

    .container-inner-image {
        position: relative;
        min-height: var(--card-image-inner-height);
        max-height: var(--card-image-inner-height);
        min-width: var(--card-image-proportion);
        max-width: var(--card-image-proportion);
        transition: 0.3s ease-in-out;
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--strong-bg-gradient-img-gray);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        padding-left: 1.5rem;
        padding-bottom: 1.5rem;

        @media (max-width: 768px) {
            padding-left: 1.15rem;
            padding-bottom: 1.15rem;
        }

        @media (max-width: 480px) {
            padding-left: 0.75rem;
            padding-bottom: 0.75rem;
        }

        .title-overlay {
            font-family: var(--strong-font-Roboto-Bold);
            font-size: var(--strong-font-titles);
            font-weight: var(--strong-Roboto-Bold-weight);

            color: var(--strong-primary-color);
            padding-bottom: 0.4rem;

            @media (max-width: 768px) {
                padding-bottom: 0.35rem;
            }

            @media (max-width: 480px) {
                padding-bottom: 0.3rem;
            }
        }

        .subtitle-overlay {
            font-family: var(--strong-font-Roboto-Regular);
            font-weight: var(--strong-Roboto-Regular-weight);
            font-size: var(--strong-font-descriptions);

            color: var(--strong-primary-color);
        }
    }

    &:hover {
        .container-inner-image {
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
        }
    }
}