.container-section-footer {
    position: absolute;
    bottom: 0;

    min-height: 6rem;
    max-height: 6rem;
    min-width: 100vw;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    padding: 0px 3.5rem;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 0px 2.5rem;
    }

    @media (max-width: 480px) {
        padding: 0px 1.5rem;
    }

    .line-divider {
        border-top: 2px dotted var(--strong-bluegray-10);
        min-width: 100%;
        max-width: 100%;
    }

    .footer-secondary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-width: 100%;
        max-width: 100%;

        .container-polices {
            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-xsmall);
            font-weight: var(--strong-weight-400);

            color: var(--strong-bluegray-1);

            @media (max-width: 768px) {
                min-width: 50%;
                max-width: 50%;
            }
        }

        .container-icons {
            display: flex;
            gap: 0.8rem;

            @media (max-width: 768px) {
                gap: 0.6rem;
            }

            @media (max-width: 350px) {
                gap: 0.2rem;
            }
        }
    }
}