.container-section-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 1rem;
    border: 1px solid var(--strong-bluegray-10);
    border-radius: 0.2rem;

    background: var(--strong-bluegray-11);
    color: var(--strong-bluegray-1);

    --description-container-width: var(--strong-calc-7rem);

    min-width: var(--description-container-width);
    max-width: var(--description-container-width);

    @media (max-width: 768px) {
        --description-container-width: var(--strong-calc-5rem);
    }

    @media (max-width: 480px) {
        --description-container-width: var(--strong-calc-3rem);
    }

    .description-title {
        font-family: var(--strong-font-Roboto-Regular);
        font-size: var(--strong-font-xxxmedium);
        font-weight: var(--strong-weight-700);

        padding-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: var(--strong-font-large);
        }
    }

    .description-subtitle {
        font-family: var(--strong-font-Roboto-Regular);
        font-size: var(--strong-font-medium);
        font-weight: var(--strong-weight-400);

        padding-bottom: 1.5rem;

        @media (max-width: 768px) {
            font-size: var(--strong-font-xxmedium);
        }
    }

    .container-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .description-item {
            font-family: var(--strong-font-Roboto-Regular);
            font-size: var(--strong-font-medium);
            font-weight: var(--strong-weight-400);

            @media (max-width: 768px) {
                font-size: var(--strong-font-xxmedium);
            }
        }
    }
}